In [9]:
import pandas as pd
import csv  
from sqlalchemy import create_engine

In [10]:
epiIV = pd.read_csv("SW_EpisodeIV.txt", escapechar='\\', skiprows=0, delimiter=" ", header=0, \
                names=['Key', 'Character', 'Dialog'], )
epiIV_df = pd.DataFrame(epiIV)

In [11]:
movie = "Episode IV"
epiIV_df['Movie'] = movie 
epiIV_df.head()

,Key,Character,Dialog,Movie
0,1,THREEPIO,Did you hear that? They've shut down the main...,Episode IV
1,2,THREEPIO,We're doomed!,Episode IV
2,3,THREEPIO,There'll be no escape for the Princess this time.,Episode IV
3,4,THREEPIO,What's that?,Episode IV
4,5,THREEPIO,I should have known better than to trust the l...,Episode IV

In [13]:
epiIV_df[['Movie', 'Key', 'Character', 'Dialog']].head()

,Movie,Key,Character,Dialog
0,Episode IV,1,THREEPIO,Did you hear that? They've shut down the main...
1,Episode IV,2,THREEPIO,We're doomed!
2,Episode IV,3,THREEPIO,There'll be no escape for the Princess this time.
3,Episode IV,4,THREEPIO,What's that?
4,Episode IV,5,THREEPIO,I should have known better than to trust the l...

In [16]:
epiV = pd.read_csv("SW_EpisodeV.txt", escapechar='\\', skiprows=0, delimiter=" ", header=0, \
                names=['Key', 'Character', 'Dialog'], )
epiV_df = pd.DataFrame(epiV)
movie = "Episode V"
epiV_df['Movie'] = movie 
epiV_df[['Movie', 'Key', 'Character', 'Dialog']].head()

       Movie  Key Character                                             Dialog
0  Episode V    1      LUKE  Echo Three to Echo Seven. Han, old buddy, do y...
1  Episode V    2       HAN                    Loud and clear, kid. What's up?
2  Episode V    3      LUKE  Well, I finished my circle. I don't pick up an...
3  Episode V    4       HAN  There isn't enough life on this ice cube to fi...
4  Episode V    5      LUKE  Right. I'll see you shortly. There's a meteori...

In [18]:
epiVI = pd.read_csv("SW_EpisodeVI.txt", escapechar='\\', skiprows=0, delimiter=" ", header=0, \
                names=['Key', 'Character', 'Dialog'], )
epiVI_df = pd.DataFrame(epiV)
movie = "Episode VI"
epiVI_df['Movie'] = movie 
epiVI_df[['Movie', 'Key', 'Character', 'Dialog']].head()

,Movie,Key,Character,Dialog
0,Episode VI,1,LUKE,"Echo Three to Echo Seven. Han, old buddy, do y..."
1,Episode VI,2,HAN,"Loud and clear, kid. What's up?"
2,Episode VI,3,LUKE,"Well, I finished my circle. I don't pick up an..."
3,Episode VI,4,HAN,There isn't enough life on this ice cube to fi...
4,Episode VI,5,LUKE,Right. I'll see you shortly. There's a meteori...