In [6]:
import pandas as pd
import csv  
from sqlalchemy import create_engine

In [14]:
df = pd.read_csv("SW_EpisodeIV.txt", escapechar='\\', skiprows=0, delimiter=" ", header=0, \
                names=['key', 'character', 'dialog'], )
df.head()

   key character                                             dialog
0    1  THREEPIO  Did you hear that?  They've shut down the main...
1    2  THREEPIO                                      We're doomed!
2    3  THREEPIO  There'll be no escape for the Princess this time.
3    4  THREEPIO                                       What's that?
4    5  THREEPIO  I should have known better than to trust the l...

In [15]:
df = pd.read_csv("SW_EpisodeV.txt", escapechar='\\', skiprows=0, delimiter=" ", header=0, \
                names=['key', 'character', 'dialog'], )
df.head()

   key character                                             dialog
0    1      LUKE  Echo Three to Echo Seven. Han, old buddy, do y...
1    2       HAN                    Loud and clear, kid. What's up?
2    3      LUKE  Well, I finished my circle. I don't pick up an...
3    4       HAN  There isn't enough life on this ice cube to fi...
4    5      LUKE  Right. I'll see you shortly. There's a meteori...

In [16]:
df = pd.read_csv("SW_EpisodeIV.txt", escapechar='\\', skiprows=0, delimiter=" ", header=0, \
                names=['key', 'character', 'dialog'], )
df.head()

   key character                                             dialog
0    1  THREEPIO  Did you hear that?  They've shut down the main...
1    2  THREEPIO                                      We're doomed!
2    3  THREEPIO  There'll be no escape for the Princess this time.
3    4  THREEPIO                                       What's that?
4    5  THREEPIO  I should have known better than to trust the l...